@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css);

body {
  font-family: "Whitney", sans-serif;

  transition: width 0.5s ease, height 0.5s ease;
}

:root {
  --primary-h-top: 206deg;
  --primary-s-top: 100%;
  --primary-l-top: 50%;
  --primary-h-bottom: 300deg;
  --primary-s-bottom: 100%;
  --primary-l-bottom: 100%;
  --text-color: black;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

.box-color-rius {
  background: linear-gradient(to bottom,
      hsl(var(--primary-h-top), var(--primary-s-top), var(--primary-l-top)),
      hsl(var(--primary-h-bottom), var(--primary-s-bottom), var(--primary-l-bottom)));
}
.card-rius {
  position: relative;
  margin: 80px 16px 16px;
  --primary-s-top: 80%;
  --primary-l-top: 94%;
  --primary-h-bottom: var(--primary-h-top);
  --primary-s-bottom: 45%;
  --primary-l-bottom: 94%;
  border-radius: 5px;
}

.box-color-vnhuy {
  background: linear-gradient(to top,
  #5FFBF1,
  #86A8E7);
}
.card-vnhuy {
  position: relative;
  margin: 80px 16px 16px;
  background: linear-gradient(to bottom,
    hsl(20, 100%, 99%),
    hsl(0, 0%, 100%));
  border-radius: 5px;
}

.box-color-lam {
  background: linear-gradient(to top,
  #60efff,
  #00ff87);
}
.card-lam {
  position: relative;
  margin: 80px 16px 16px;
  background: linear-gradient(to bottom,
    hsl(175, 100%, 98%),
    hsl(0, 0%, 100%));
  border-radius: 5px;
}
.box-color-ngocmai {
  background: linear-gradient(to top,
  #696eff,
  #f8acff);
}
.card-ngocmai {
  position: relative;
  margin: 80px 16px 16px;
  background: linear-gradient(to bottom,
    hsl(270, 86%, 97%),
    hsl(0, 0%, 100%)  );
  border-radius: 5px;
}

.box-color-lethuong {
  background: linear-gradient(to top,
  #9bf8f4,
  #f8acff);
}
.card-lethuong {
  position: relative;
  margin: 80px 16px 16px;
  background: linear-gradient(to bottom,
    hsl(311, 100%, 98%),
    hsl(0, 0%, 100%)  );
  border-radius: 5px;
}

.box-color-baophuc {
  background: linear-gradient(to top,
  #ebf4f5,
  #b5c6e0);
}
.card-baophuc {
  position: relative;
  margin: 80px 16px 16px;
  background: linear-gradient(to bottom,
    hsl(311, 100%, 98%),
    hsl(0, 0%, 100%)  );
  border-radius: 5px;
}

.box-color-ngochien {
  background: linear-gradient(to top,
  #f5cfe1,
  #d3f3f1);
}
.card-ngochien {
  position: relative;
  margin: 80px 16px 16px;
  background: linear-gradient(to bottom,
    hsl(0, 0%, 100%),
    hsl(0, 0%, 100%)  );
  border-radius: 5px;
}

.box-color-vanson {
  background: linear-gradient(to top,
  #439cfb,
  #b8a4c9);
}
.card-vanson {
  position: relative;
  margin: 80px 16px 16px;
  background: linear-gradient(to bottom,
    hsl(0, 0%, 100%),
    hsl(0, 0%, 100%)  );
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 0.3rem;
  height: auto;
  scrollbar-width: thin;
  /* scrollbar-gutter: unset; */
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary-h-top), 45%, 50%, 0.1);
  border-radius: 10px;
}

/* Disable drag and drop on all elements */
* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

html {
  scroll-behavior: smooth;
}


.about-section a {
  color: #00aff4;
  text-decoration: none;
}

.about-section a:hover {
  text-decoration: underline;
}

body {
  padding: 0;
  margin: 0;
}



#container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  margin: -15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://scontent.fdad3-1.fna.fbcdn.net/v/t1.15752-9/462578089_463273350210591_8990221000021205769_n.jpg?stp=dst-jpg_s2048x2048_tt6&_nc_cat=103&ccb=1-7&_nc_sid=9f807c&_nc_ohc=FYgeyXuJjdUQ7kNvgHOG0P5&_nc_zt=23&_nc_ht=scontent.fdad3-1.fna&oh=03_Q7cD1QFkaH3eIPzzlBtqMaTPoTNZxwETItFTvURlcbIlzx517w&oe=677A717C");
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(5px);
  /* end */
  background-size: cover;
  background-position: center;
}

.profile-border {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 100px);
  border-radius: 8px;
  margin: 0 auto;
}

.profile {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
  --primary-s-top: 80%;
  --primary-l-top: 70%;
  --primary-s-bottom: 50%;
  --primary-l-bottom: 70%;
  width: 600px;
  max-height: calc(100vh - 100px);
  /* color: var(--text-color); */
  border-radius: 8px;
  margin: 0 auto;
}

/* .profile .effect{
  width: 100%;
  height: 100%;
} */

.profile .effect img {
  height: 100%;
  right: 0;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile .banner {
  width: 100%;
  height: 190px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.avatar {
  --primary-s-top: 42%;
  --primary-l-top: 95%;
  --primary-s-bottom: 44%;
  --primary-l-bottom: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  top: 120px;
  left: 16px;
}

.avatar #avatar-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 8px;
  background-color: hsl(210, 44%, 94%);
  --primary-s-top: 42%;
  --primary-l-top: 95%;
  --primary-s-bottom: 44%;
  --primary-l-bottom: 94%;
}

#avatar-decoration {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.status {
  max-width: 34px;
  max-height: 44px;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  --primary-s-top: 41%;
  --primary-l-top: 97%;
  --primary-h-bottom: var(--primary-h-top);
  --primary-s-bottom: 41%;
  --primary-l-bottom: 97%;
  position: absolute;
  bottom: 14.64%;
  right: 14.64%;
  border-radius: 50%;
}

#status-image {
  width: 20px;
  height: 20px;
  padding: 7px;
  border-radius: 50%;
}

.badges {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  padding: 2px;
  --primary-s-top: 41%;
  --primary-l-top: 97%;
  --primary-h-bottom: var(--primary-h-top);
  --primary-s-bottom: 41%;
  --primary-l-bottom: 97%;
  border-radius: 10px;
  position: absolute;
  top: 219px;
  left: 160px;
}

.badges img {
  width: 26px;
  height: 26px;
}

.badges .badges-left {
  width: fit-content;
  height: 26px;
}

.badges .badges-left img {
  opacity: 100%;
  animation: none;
}

.badges .badges-right {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 26px;
}

.tooltip {
  display: block;
  flex-direction: row;
  position: relative;
  width: 26px;
  height: 26px;
}

.tooltip:hover::after {
  content: attr(aria-label);
  position: absolute;
  top: -77px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111214;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.tooltip:hover::before {
  content: "";
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top-color: #000;
}


.name-box {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0px 20px;
  padding-left: 5px;
}

.display-ten {
  font-size: 20px;
  color: var(--text-color);
  font-weight: bolder;
}

.username {
  color: var(--text-color);
  font-weight: 600;
  border-radius: 50%;
}

.pronouns {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  margin: 3px 0px 5px 0px;
}

.custom-status {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  padding: 0px 0px 10px 0px;
}

.custom-status img {
  width: fit-content;
  height: fit-content;
}

.custom-status .custom-status-text {
  margin: 0px;
  padding: 0px;
  align-items: center;
  display: flex;
  color: var(--text-color);
  font-weight: 400;
}

.about-me {
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  font-weight: 500;
}

.flag {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 14px;
  /* margin-right: 22px; */
}

.flag img {
  position: absolute;
  width: 20px;
  height: 20px;
}

.divider {
  height: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: transparent;
}

.body {
  padding: 0 20px 16px 20px;
  max-height: calc(100vh - 530px);
}

.body .title-body {
  font-weight: 700;
  color: var(--text-color);
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
  height: 10px;
}

.body .roles-body {
  margin-bottom: 10px;
}

.content {
  border-top: 1px solid var(--box-shadow-color);
  padding-top: 12px;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 530px);
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 5px;
}

.about-section {
  margin-bottom: 16px;
  margin-top: 5px;
  height: 100px;
}

.roles-body {
  -ms-flex-wrap: wrap;
  margin: 1px;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.roles-body .rol {
  border-radius: 4px;
  background: linear-gradient(to bottom,
      hsl(var(--primary-h-top), var(--primary-s-top), var(--primary-l-top)),
      hsl(var(--primary-h-bottom), var(--primary-s-bottom), var(--primary-l-bottom)));
  --primary-s-top: 45%;
  --primary-l-top: 96%;
  --primary-h-bottom: var(--primary-h-top);
  --primary-s-bottom: 45%;
  --primary-l-bottom: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 4px 4px 0;
  padding: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 22px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 0 0 1px var(--box-shadow-color);
}

.roles-body .rol span {
  color: var(--text-color);
  margin-left: 4px;
  margin-right: 4px;
}

.social-divider {
  margin-bottom: 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.platform {
  width: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 0 1px var(--box-shadow-color);
  text-decoration: none;
}

.platform-username {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.platform::hover {
  text-decoration: none;
}

.platform-icon {
  width: 24px;
  height: 24px;
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-filter: invert(86%) sepia(5%) saturate(136%) hue-rotate(177deg) brightness(70%) contrast(70%);
  filter: invert(86%) sepia(5%) saturate(136%) hue-rotate(177deg) brightness(70%) contrast(70%);
}

.connect:hover {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(0%) contrast(0%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(0%) contrast(0%);
}

.softpink {
  color: #f8bbd0;
}

.rosepink {
  color: #ecdcd4;
}

.green {
  color: #1ed760;
}

.blue {
  color: #00aff4;
}

.chat-container {
  width: 494px;
  max-width: 514px;
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: 0 0 0 1px var(--box-shadow-color);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

/* .chat-container {
  display: none !important;
} */

#message-input {
  background-color: transparent;
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}
@media (width <=640px) {
  .container::before {
    background-image: url("https://lh3.googleusercontent.com/fife/ALs6j_FKtbb10GABaxJTAHLoIfDG_M017Fb3DZl2UQtGZYur268eokZodbYs8aaOG_EzU_Fs9qB2kMCh23hn7sflaAzGuhiyn6hDY5IzTnP2ua7mfZ6En-n5PB9VzsXQDZukEe0dpWUuZ6khVrEYwwZKIEQxlS_vzl8A2frROiR8zZ_ONcOWILmaI3RstyrM5M6VB8wPa-haC9_pOVI6LgAP4pVxn5QfLFURb2hiyMNUiYjfZQ3e-TTuvBQxrSeL-YO3YI5q4_QM1luK69mX_djdpRT-CPW5KVC_lH8HTDz27sOM5YOvfESAwy9GnpjqiXeIclJRYQfI6avOlBjrRO1bj4WgEu58nwCWOz6jshzo1ztjPDRfGXoQPdGJ9pI8xoDAIyxt3AHoaU4koBVFSnQdarFgOhegJ8jaRrZJoROqazd6AclA4yIxY-b4cjhnnnOZeoF-oJyh7pIINCwTUltpl3CMFHyY-XiVgG9lC-zwQhfFEeYHS6WhgnFHCFJghlkbnMxomr2ri6rsISP9NkN7PKGBCxgQqx7QBhE7JN1T1jzjSkFvKOFp9jlRRETgrOVIm3x4ts0UOSm8Nvs4lX3QUAfpCJ3SnnfwZJbhawxXnbPyGom5zAxeqfqFXfPqgfzHi1ZYnoGtMl7lNxjoapGe9Adl-XZOPyEUwAFUFhOT5t5wyLF3gDYhG1hxVysFmCcZoiH7tfFxkxdout3Uv5cyJYOLejTsPySOyUfIo8kzIAnYNR5Nn6KkajzsFNeSY-GEo0TEnfCFjPwS4ocEDXPWY7Y71zzb5wN_g809x6CgSD2QdKbWmQNXLd4YHbHWQmU3D-Jceel5IxXusYTnAX1E3jwapqse1BBOFd4ht7P4OhO8G6xnzvUgMIBh2eCctBPt6dw7A1dGH52z0jp628946xi1wMU8UbST3QkiS9v07axkf1A2fNlQLXO6VfboBlfoQdjwy8fxr53gLKQ9KzIZrT8ehM-28FU-j0Go7Z9suU9zyKtv7m5dfHNQYcoQtyOR6xSH7flUZhJhF5uy9lEQtIl9qsymnh3QG-peC9i6zY6KoRTu2h38_Vd2ohMStMaQ6rC5uXAukz_FJSTgl_TJL3MWotMkaULxOkyWr05vwy_OT6oo6vgZ3r2mHoQQ-mwLz06LaYB_rdb-Uw-HgyvosCVL7AEpGjJ4rQSlUutoSwstHfVt0W7EvxIlQCtrGQpYPZpnfGIunf1Ibs1N1dd85wUQ7f1ZDWruauBe6mIqRtB6kmGby78pVGvX4l4hgrvkobxYzGCjhCiI1-YKooEpWhNO5uEhs1l70iqFAw1Rb2pK5-7KC4z8GmAceTe__iiDbuaCPFyO7k-CQKa8wTUOtQdw0IQIkU9bC2Gh_XbCgHSDjVUv52GH7lBloiVbRazrK1j5sDi6sITAsgajnmZFq_EruAJ4B2H5cLgvRWjBwqeGheH7hObfpH10nvmQR9s2V7TYxL6N952Q_pO0Oy8XjyJM6y4HLE6lHoZNR8Ra4YSxo7awZi3DkQ9GaKVVsCtbRJu79WrsTFiaHFZAYgtPowRY_zu5dv0mCg6TGIMuJgU9zQMfshN5jNShTR9YiCARg83zcKQZjV2JOTgDvxNPTnlmYt0zXi6G4FVm3xdQpnIHy6ETxZovlZlIPH3Kyn0u7ccdkLlZIdeMYp-9s-103iLuAuBK1D_Ou0vv9NREhn1RqUD3AiL2elwuYJfW9AAQ56OiqWjj-yYAMOFeUZKiqBXJ5Wkmg5U5=w1600-h779");
    margin: -2px;
    filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
  }

  .profile {
    width: 300px;
  }

  .profile .banner {
    height: 100px;
  }

  .badges {
    top: 120px;
    right: 16px;
    left: unset;
    flex-direction: row-reverse;
  }

  .avatar {
    top: 55px;
  }

  .avatar #avatar-image {
    width: 86px;
    height: 86px;
  }

  #avatar-decoration {
    width: 103px;
    height: 103px;
  }

  .name-box {
    width: 236px;
    margin: 16px 16px 10px 16px;
  }

  .body {
    padding: 0 16px 16px 16px;
  }

  .card {
    margin: 70px 16px 16px;
  }

  .socials {
    display: block;
  }

  .platform {
    width: 196px;
  }

  .chat-container {
    width: 200px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
